* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

iframe {
    margin-top: 50px;
}

.background::before {
    background-image: url(https://pbs.twimg.com/profile_banners/1175475143872790528/1579098633/1500x500);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.fit-picture {
    text-align: left;
}

.header {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    font-size: 96px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

.tablink {
    background-color: rgb(255, 255, 255);
    color: rgb(161, 161, 161);
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Source Code Pro';
    width: 25%;
}

.tablink:hover {
    color: black;
    background-color: rgb(255, 242, 166);
    transition: 1.0s;
}

.tabcontent {
    text-align: right;
    color: rgb(31, 31, 31);
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.t-row {
    display: table-row;
}

.t-col {
    display: table-cell;
    vertical-align: top;
    padding: 50px;
}

hr {
    color: rgb(161, 161, 161);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

h3 {
    text-align: left;
    color: black;
    font-size: 64px;
    padding: 30px;
}

p {
    text-align: left;
    color: black;
    font-size: 18px;
    word-wrap: break-word;
    width: 40%;
}

#About {
    background-color: wheat;
}

#Region {
    background-color: grey;
}

#Characters {
    background-color: silver;
}

#Megas {
    background-color: gainsboro;
}

#AlternateForms {
    background-color: azure;
}

#Mechanics {
    background-color: papayawhip;
}

#Metagame {
    background-color: bisque;
}

#Gigantamax {
    background-color: cornsilk;
}